/* Write some CSS below */
body	{
	font-family: CrimsonPro;
	font-size: 18px;
	background-color: rgb(255, 241, 254);
	color: rgb(30, 30, 30);
}

h1	{
	font-family: CrimsonPro;
}

h2	{
	font-family: Nunito;
}

h2	{
	text-align: center;
}

a  	{
	text-decoration: none;
}

.banner {  
	text-align: center;
	background-image: url(images/banner1.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 100px 0px;
}

.btn-white	{
	color: black;
	background-color: white;
	padding: 10px 35px;
	border-radius: 4px;
}

img {
	width: 350px;
	height: 350px;
	max-width: 100%;
	height: auto;
}

